body{
	font-family: 'Mogra', cursive;
	text-align: center;
	background-color: #99ffcc;
	background-image: url("../images/background.jpg");
}

.jumbotron{
background-color: #99ffcc;	
}

.panel-custom{
	background-color: #99ffcc;
}

.navbar-custom {

    background-color: #ccffcc;
}

h1,
.startgame,
header{
	font-size: 48px;
  	text-shadow: 4px 4px 4px #aaa;
	text-align:center;
}

.question{
	font-size: 20px;
	font-weight: bolder;
}

.radio{
	font-size: 20px;
	font-weight:bold;
	text-align:left;

}
/* initial page */
.starGameJumbotron
{
	/*background-color: #ff00ff;s*/
	padding: 200px;
}

#clock{
  /*background: black;*/
  color:green;
  /*font-size: 120px;*/
  font-family: monospace;
  text-align: center;
}

#pictureDiv img{
	width:300px;
	height:300px;
	box-shadow: 5px;
}

/*#pictureDiv{
	text-align: center;
}*/